{% extends 'base.html' %}
{% block content %}

<!--<p> <a href="my-articles/">My articles</a> </p>-->
<!--<p><a href="fcreate/" class="create-link" id="create-link-id">Create</a></p>-->

<ul>
    {% for object in object_list %}
    <li style="list-style: none;">
        {% comment %}
        <a href="{{ object.get_absolute_url }}">{{ forloop.counter }}. {{object.title}} - {{object.content}}</a>
        {% endcomment %}
        <a href="{% url 'article_detail_view' object.slug %}">{{ forloop.counter }}. {{object.title}} -
            {{object.content}}</a>

    </li>
    {% endfor %}

</ul>
<div style="margin: 10px;">
    <button type="submit" id="hello-btn" class="btn btn-primary">Call</button>
</div>

{% endblock %}
